#sidebar-wrapper {
    height: 1000px;
    min-width: 250px;
    transition: all 0.3s ease;
}

#sidebar-wrapper.toggled {
    margin-left: -250px;
}

#page-content-wrapper {
    flex-grow: 1;
    transition: all 0.3s ease;
}

#page-content-wrapper.expanded {
    margin-left: 0;
}

#menu-toggle {
    margin-left: 15px;
}

.table {
    font-size: 16px;
    margin-top: 20px;
}

.table th {
    background-color: #0eb039;
    color: white;
}

.table td {
    vertical-align: middle;
}

.card-header {
    background-color: #0eb039;
    color: white;
    font-weight: bold;
}

.btn-sm {
    font-size: 14px;
}

.modal-header {
    background-color: #0eb039;
    color: white;
}

.book-image {
    width: 100px;
}

/* CSS cho hộp gợi ý */
.suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f1f1f1;
}