<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Sách Thư Viện</title>
    <link th:href="@{/assets/css/styles.css}" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="/assets/images/kiwi.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>
<!-- Sidebar -->
<button id="toggleSidebarBtn"><i class="fas fa-bars"></i></button>
<div class="sidebar">
    <ul>
        <li>
            <a th:href="@{/}"><i class="fas fa-home"></i><span>Trang Chủ</span></a>
        </li>
        <li>
            <a th:href="@{/story/add}"><i class="fas fa-book"></i><span>Thêm câu chuyện</span></a>
        </li>
        <li>
            <a th:href="@{/category/cate}"><i class="fas fa-list-alt"></i><span>Quản lý danh mục</span></a>
        </li>
        <li>
            <a th:href="@{/}"><i class="fas fa-cog"></i><span>Cài Đặt</span></a>
        </li>
        <li>
            <a th:href="@{/}"
            ><i class="fas fa-sign-out-alt"></i><span>Đăng Xuất</span></a
            >
        </li>
    </ul>
</div>

<!-- Header -->
<div class="header">
    <form th:action="@{/story/search}" method="GET">
        <input type="text" name ="name" placeholder="Tìm kiếm sách..." class="search-bar" />
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

<!-- Content -->
<div class="content" th:fragment="content">
    <h1>Quản Lý Sách</h1>

    <!-- Bộ lọc -->
    <div class="filter-container">
        <div class="filter-group">
            <label for="cate-filter">Lọc theo danh mục</label>
            <form th:action="@{/home/index}" method="GET">
                <select id="cate-filter" name="category">
                    <option value="">Tất cả</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.mCateId}"
                            th:text="${category.mCateName['vi']} + '_' +${category.mCateId}"></option>
                </select>
                <button type="submit">Lọc</button>
            </form>
        </div>
    </div>


    <table class="book-list-table">
        <thead>
        <tr>
            <th>Hình ảnh sách</th>
            <th>StoryID</th>
            <th>Tên sách</th>
            <th>Danh mục</th>
            <th>Quốc gia</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s: ${stories}">
            <td>
                <img th:src="@{|${s.mStoryAvatarUrl}|}" class="book-image" alt="#"/>
            </td>
            <td>[[${s.mStoryId}]]</td>
            <td>[[${s.mStoryName['vi']}]]</td>
            <td>[[${s.mCateId}]]</td>
            <td>[[${s.areaStory}]]</td>
            <td>
                <a th:href="@{|/story/detail/${s._id}|}" class="btn btn-sm btn-primary">Chỉnh sửa</a>
                <form th:action="@{|/story/delete/${s._id}|}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa câu chuyện này?');">Xóa</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{assets/js/script.js}"></script>
</body>
</html>
